* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    /* text-decoration: none; */
}

.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 0px 15px 0px;
    
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    
}

.navlist {
    list-style-type: none;
    display: flex;  
    flex-direction: row;
    gap: 20px;
}

.navbar a {
    color: #c8cacf;
    text-decoration: none;
    font-size: 18px; 
}

.navbar a:hover {
    color: #ffffff;
}

.header {
    height: 450px;
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #c8cacf;
    padding: 15px;  
    flex: 1 1 auto;
    align-items: center;
    gap: 100px;
    line-height: 1.5;
}

.header h1 {
    font-size: 48px;
    font-weight: extra-bold;
    line-height: 1.5;
    color: #F9FAF8;
}

.header img {
    width: 500px;
    border-radius: 10px;
}

.header-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.header-button:hover {
    background-color: #8db8fd;
}

.cards-block {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.cards-block h1 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    padding: 60px;
    
}

.card {
    display: flex;
    width: 200px;
    font-size: 18px;
    color: #898989;
    flex-direction: column;
}

.card img {
    border: 6px solid #3882F6;
    border-radius: 10px;
}

.card p {
    padding: 18px;
}

.cards-container {
    display: flex;
    gap: 30px;
}

.quote-block {
    display: flex;
    height: 350px;
    flex-direction: column;
    background-color: #E5E7EB;
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    padding: 50px 30px 30px 30px;
}

.quote-author {
    font-size: 24px;
    font-weight: 900;
    color: #131313;
    padding: 10px 150px 15px 15px;
    align-self: flex-end;
}

.action-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    height: 50%;
    gap: 100px;
    background-color: #3882F6;
    
}

.action-block h1 {
    color: white;
    font-size: 22px;
    font-weight: 900;
}

.action-block p {
    color: #e0e0e0;
}

.text-block {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    /* padding-left: 40px; */
    
}

.button-block button {
    background-color: #3882F6;
    display: flex;
    
    border: 3px solid white;
    border-radius: 10px;
    flex-basis: 30%;
    padding: 5px 20px 5px;
}

.button-block button a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    color: white;
}

.footer {
    background-color: #1F2937;
    color: rgb(199, 199, 199);
    font-size: 16px;
    font-weight: 200;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}