* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Roboto, sans-serif;
    /* text-decoration: none; */
}

.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 0px 15px 0px;
    
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    
}

.navlist {
    list-style-type: none;
    display: flex;  
    flex-direction: row;
    gap: 20px;
}

.navbar a {
    color: #c8cacf;
    text-decoration: none;
    font-size: 18px; 
}

.navbar a:hover {
    color: #ffffff;
}

.header {
    height: 450px;
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #c8cacf;
    padding: 15px;  
    flex: 1 1 auto;
    align-items: center;
    gap: 100px;
    line-height: 1.5;
}

.header h1 {
    font-size: 48px;
    font-weight: extra-bold;
    line-height: 1.5;
    color: #F9FAF8;
}

.header img {
    width: 500px;
    border-radius: 10px;
}

.header-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.header-button:hover {
    background-color: #8db8fd;
}

.cards-block {
    display: flex;
    height: 600px;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.cards-block h1 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    padding: 60px;
    
}

.card {
    display: flex;
    width: 200px;
    font-size: 18px;
    color: #898989;
    flex-direction: column;
}

.card img {
    border: 6px solid #3882F6;
    border-radius: 10px;
}

.card p {
    padding: 18px;
}

.cards-container {
    display: flex;
    gap: 30px;
}

